html,body{
    overflow-x: hidden;
}

li{
    list-style: none;
    
}

li:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
}


.card, card-body{
    border-color: var(--type-color);
}


